body{
    background-color: #abcdef;
}
.submit{
    border-radius: 10px; 
    background-color: #fff;
    color: #000;
}
.submit:hover{
    background-color: #000;
    color: #fff;
}
.box-container{
    width: 800px;
    height: auto;
    border: 2px solid #000;
    margin: 2px auto;
}
.box-container h1{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-family: comic sans ms;
}
legend{
    font-family: tahoma;
    color: #fff;
    font-size: 20px;
}